@model AddAndEditViewModel

@{
    ViewBag.Title = "Добавить смартфон";
    Layout = "_Layout";
}

<div class="container pt-5">
    <div class="custom-container">
        <h2 class="text-center mb-3">Заполните поля</h2>
        <div class="row align-items-start justify-content-center">
            <div class="card bg-white mb-1">
                <div class="card-body">
                    <form asp-action="Add" method="post">
                        @{
                            await Html.RenderPartialAsync("PartialViews/PhoneFormPartial", Model);
                        }
                        <div class="row align-items-start justify-content-center mb-3">
                            <button type="submit" class="btn btn-primary">Добавить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}